@import 'tailwindcss';

@theme {
  --color-primary-500: oklch(55% 0.1 298.41);
  --color-primary-400: oklch(from var(--color-primary-500) 60% c h);
  --color-primary-300: oklch(from var(--color-primary-500) 65% c h);
  --color-primary-200: oklch(from var(--color-primary-500) 70% c h);
  --color-primary-100: oklch(from var(--color-primary-500) 75% c h);

  --color-secondary-500: oklch(30% 0.005 290);
  --color-secondary-400: oklch(from var(--color-secondary-500) 32.5% c h);
  --color-secondary-300: oklch(from var(--color-secondary-500) 35% c h);
  --color-secondary-200: oklch(from var(--color-secondary-500) 37.5% c h);
  --color-secondary-100: oklch(from var(--color-secondary-500) 40% c h);
  --color-accent: oklch(50% 0.5 195);
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: oklch(90% 0.01 100);
}
